<?xml version="1.0" encoding="utf-8"?>
<plugin id="kr.co.applicat.adsync" version="0.7.0" xmlns="http://www.phonegap.com/ns/plugins/1.0">

    <name>Adsync</name>

    <engines>
        <engine name="cordova" version=">=3.4.0" />
    </engines>

    <asset src="www/adsync.js" target="js/adsync.js" />

    <js-module name="adsync" src="www/adsync.js">
        <clobbers target="Adsync" />
    </js-module>

    <preference name="PARTNER_ID" />

    <platform name="android">

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Adsync">
                <param name="android-package" value="kr.co.applicat.Adsync" />
            </feature>
        </config-file>

        <source-file src="src/android/Adsync.java" target-dir="src/kr/co/applicat/" />

        <framework custom="true" src="src/android/adsync.gradle" type="gradleReference" />

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="partner_id" android:value="$PARTNER_ID" />
            <activity android:name="com.fpang.lib.AdSyncList" android:screenOrientation="portrait"></activity>
            <activity android:name="com.fpang.lib.FreePangPang" android:screenOrientation="portrait"></activity>
        </config-file>

    </platform>

    <platform name="ios">

        <config-file parent="/widget" target="config.xml">
            <feature name="Hello">
                <param name="ios-package" value="HWPHello" />
            </feature>
        </config-file>

        <header-file src="src/ios/HWPHello.h" target-dir="HelloPlugin" />
        <source-file src="src/ios/HWPHello.m" target-dir="HelloPlugin" />
    </platform>

    <platform name="wp7">
        <source-file src="src/wp7/Hello.cs" />
    </platform>

</plugin>